In [50]:
#1.Create a pandas DataFrame from the CSV and from Python lists/dicts. 
#I have extended the provided dataset to include 1000 rows
import pandas as pd
df=pd.read_csv("modified_sample.csv")
data=[{ "transaction_id":2001,"store_id":3,"store_name":"Airport","date":"2025-10-05","product_id":507,"product_name":"Scissors","quantity":3,"unit_price":3.50,"total":10.5,"customer_id":2004,"promo_code":"Nan"},{
        "transaction_id": 2002,
        "store_id": 2,
        "store_name": "Downtown",
        "date": "2025-10-06",
        "product_id": 512,
        "product_name": "Notebook",
        "quantity": 5,
        "unit_price": 2.00,
        "total": 10.0,
        "customer_id": 2005,
        "promo_code": "SAVE5"
    },
    {
        "transaction_id": 2003,
        "store_id": 1,
        "store_name": "Mall",
        "date": "2025-10-06",
        "product_id": 520,
        "product_name": "Pen",
        "quantity": 10,
        "unit_price": 1.00,
        "total": 10.0,
        "customer_id": 2006,
        "promo_code": "NaN"
    }]
new_df=pd.DataFrame(data)
df=pd.concat([df,new_df],ignore_index=True)
print(df.tail())

      transaction_id  store_id store_name        date  product_id  \
998             1999         1   Downtown  2025-10-15         505
999             2000         3    Airport  2025-10-18         501
1000            2001         3    Airport  2025-10-05         507
1001            2002         2   Downtown  2025-10-06         512
1002            2003         1       Mall  2025-10-06         520

     product_name  quantity  unit_price  total  customer_id promo_code
998        Marker         7        2.71  18.97         2157        NaN
999      Notebook         8        8.00  64.00         2498    OFFER20
1000     Scissors         3        3.50  10.50         2004        Nan
1001     Notebook         5        2.00  10.00         2005      SAVE5
1002          Pen        10        1.00  10.00         2006        NaN

In [51]:
#2.Filter and subset rows/columns (e.g., sales for a store, date ranges, high-value transactions).
#Filtering sales for a specific store
storeSales=df.loc[df['store_name']=="Suburb",["transaction_id", "date", "total","promo_code"]]
print("Sales for a Suburb store\n",storeSales)
#filtering transactions based on date ranges
df["date"]=pd.to_datetime(df['date'])
dfDate_filtered=df.loc[(df["date"]>="2025-10-03") & (df["date"]<="2025-10-06"),["transaction_id","total"]]
print("Transactions within a date range:\n",dfDate_filtered)
print(df['total'].max())
highValTransactions=df.loc[df["total"]>=98.8,["transaction_id","store_name"]]
print("High value transactions in the dataset: \n",highValTransactions)
#Combining multiple filters
dfNew=df.loc[(df["store_name"]=="Downtown") & (df["total"]>=4.0),["transaction_id","date","total","customer_id"]]
print("High value sales from Downtown store:\n",dfNew)

Sales for a Suburb store
      transaction_id        date  total promo_code
0              1001  2025-10-24  14.20    OFFER20
1              1002  2025-10-15  27.27        NaN
3              1004  2025-10-05   8.19        NaN
16             1017  2025-10-14  59.76        NaN
17             1018  2025-10-06  31.68    OFFER20
..              ...         ...    ...        ...
991            1992  2025-10-04  20.24      DISC5
992            1993  2025-10-26  19.74     DISC10
995            1996  2025-10-12  19.36        NaN
996            1997  2025-10-13   9.00    OFFER20
997            1998  2025-10-05  28.28     DISC10

[335 rows x 4 columns]
Transactions within a date range:
       transaction_id  total
3               1004   8.19
17              1018  31.68
30              1031  13.56
37              1038   2.92
45              1046   7.47
...              ...    ...
991             1992  20.24
997             1998  28.28
1000            2001  10.50
1001            2002  10.00
1002            2003  10.00

[150 rows x 2 columns]
98.8
High value transactions in the dataset:
      transaction_id store_name
506            1507     Suburb
High value sales from Downtown store:
       transaction_id       date  total  customer_id
5               1006 2025-10-24   8.10         2398
9               1010 2025-10-01  20.64         2031
12              1013 2025-10-28  22.23         2432
18              1019 2025-10-13  27.28         2217
19              1020 2025-10-13  36.24         2358
...              ...        ...    ...          ...
979             1980 2025-10-18   7.74         2398
993             1994 2025-10-26  10.98         2018
994             1995 2025-10-09  49.05         2288
998             1999 2025-10-15  18.97         2157
1001            2002 2025-10-06  10.00         2005

[282 rows x 4 columns]

In [52]:
#3.Compute descriptive statistics and group summaries (totals by store, average basket). 
#total sales by store
storeTotals = df.groupby('store_name')['total'].sum().reset_index()
storeTotals = storeTotals.sort_values(by='total', ascending=False)
print(storeTotals)
#total quantity sold per product
prodQuant=df.groupby('product_name')['quantity'].sum().reset_index()
prodQuant=prodQuant.sort_values(by='quantity',ascending=False)
print(prodQuant)

  store_name     total
0    Airport  11167.51
3     Suburb   9262.91
1   Downtown   8447.07
2       Mall     10.00
  product_name  quantity
6      Stapler      1031
0       Folder       967
4          Pen       943
2       Marker       919
3     Notebook       868
1  Highlighter       781
5     Scissors         3

In [53]:
#4.Perform simple cleaning (handle missing values, fix data types, drop duplicates). 
df['promo_code']=df['promo_code'].fillna('No Promo') #fill missing promo codes with- no promo
print(df['promo_code'])
df['date']=pd.to_datetime(df['date'])#convert date into proper datetime format
print(df['date'])

0        OFFER20
1       No Promo
2          DISC5
3       No Promo
4       No Promo
          ...
998     No Promo
999      OFFER20
1000         Nan
1001       SAVE5
1002         NaN
Name: promo_code, Length: 1003, dtype: object
0      2025-10-24
1      2025-10-15
2      2025-10-18
3      2025-10-05
4      2025-10-18
          ...
998    2025-10-15
999    2025-10-18
1000   2025-10-05
1001   2025-10-06
1002   2025-10-06
Name: date, Length: 1003, dtype: datetime64[ns]

In [54]:
#5.Build a mini ETL pipeline: read CSV → clean & transform → output JSON. 
df.to_json("cleaned_data.json", orient="records", indent=4, date_format="iso")
print("Data Exported to cleaned_data.json Successfully!")

Data Exported to cleaned_data.json Successfully!

In [55]:
with open("cleaned_data.json", "r") as file:
    print(file.read()[:500])

[
    {
        "transaction_id":1001,
        "store_id":2,
        "store_name":"Suburb",
        "date":"2025-10-24T00:00:00.000",
        "product_id":502,
        "product_name":"Pen",
        "quantity":2,
        "unit_price":7.1,
        "total":14.2,
        "customer_id":2086,
        "promo_code":"OFFER20"
    },
    {
        "transaction_id":1002,
        "store_id":2,
        "store_name":"Suburb",
        "date":"2025-10-15T00:00:00.000",
        "product_id":503,
        "product

In [56]:
#6.Complete a short hands-on test and an assignment to extend the pipeline.
import io
csv_data_extended = """transaction_id,store_id,store_name,date,product_id,product_name,quantity,unit_price,total,customer_id,promo_code
1001,1,Downtown,2025-10-01,501,Notebook,2,3.5,7,,
1002,1,Downtown,2025-10-01,502,Pen,5,0.8,4,2002,DISC10
1003,2,Suburb,2025-10-02,501,Notebook,1,3.5,3.5,2003,
1004,2,Suburb,2025-10-02,503,Stapler,1,5.25,5.25,,
1005,1,Downtown,2025-10-03,504,Folder,3,1.2,3.6,2004,DISC10
1006,3,Airport,2025-10-03,502,Pen,10,0.8,8,2005,
1007,3,Airport,2025-10-04,505,Marker,2,1.75,3.5,2006,
1008,1,Downtown,2025-10-04,502,Pen,2,0.8,1.6,2002,
1009,2,Suburb,2025-10-05,506,Highlighter,4,0.9,3.6,2007,
1010,2,Suburb,2025-10-05,501,Notebook,1,3.5,3.5,2008,DISC5
# --- New Rows Added ---
1011,4,Online,2025-10-05,507,Mouse,1,15,15,2009,ONLINE20
1012,1,Downtown,2025-10-05,503,Stapler,3,5.25,15.75,2010,
1013,2,Suburb,2025-10-06,505,Marker,1,1.75,1.75,2011,
"""
df = pd.read_csv(io.StringIO(csv_data_extended))
print(f"DataFrame loaded with {len(df)} rows.")
df['date'] = pd.to_datetime(df['date'])
df['customer_id'] = df['customer_id'].fillna(0).astype(int)
highValThresh= 5.00
#Enrichment: add high-value flag
df['is_high_value'] = df['total'] > highValThresh
store_summary_df = df.groupby(['date', 'store_id', 'store_name']).agg(
    **{
        'Total_Revenue': ('total', 'sum'),
        'Transaction_Count': ('transaction_id', 'count'),
        'Avg_Basket_Value': ('total', 'mean'),
        'High_Value_Count': ('is_high_value', 'sum')
    }
).reset_index()
#Aggregation/Metrics: calculate total daily revenue and other metrics
store_summary_df['Total_Revenue'] = store_summary_df['Total_Revenue'].round(2)
store_summary_df['Avg_Basket_Value'] = store_summary_df['Avg_Basket_Value'].round(2)
print("\n--- Daily Store Summary with Extended Data ---")
print(store_summary_df)
output_file = 'cleaned_data.json'
store_summary_df.to_json(
    output_file,
    orient='records',
    date_format='iso',
    indent=4
)
print(f"\nPipeline completed. Summary saved to: {output_file}")

DataFrame loaded with 14 rows.

--- Daily Store Summary with Extended Data ---
        date  store_id store_name  Total_Revenue  Transaction_Count  \
0 2025-10-01       1.0   Downtown          11.00                  2
1 2025-10-02       2.0     Suburb           8.75                  2
2 2025-10-03       1.0   Downtown           3.60                  1
3 2025-10-03       3.0    Airport           8.00                  1
4 2025-10-04       1.0   Downtown           1.60                  1
5 2025-10-04       3.0    Airport           3.50                  1
6 2025-10-05       1.0   Downtown          15.75                  1
7 2025-10-05       2.0     Suburb           7.10                  2
8 2025-10-05       4.0     Online          15.00                  1
9 2025-10-06       2.0     Suburb           1.75                  1

   Avg_Basket_Value  High_Value_Count
0              5.50                 1
1              4.38                 1
2              3.60                 0
3              8.00                 1
4              1.60                 0
5              3.50                 0
6             15.75                 1
7              3.55                 0
8             15.00                 1
9              1.75                 0

Pipeline completed. Summary saved to: cleaned_data.json